{% extends 'base.html' %}
{#
{% set mytitle="index" %}
{% block title %}{{ mytitle }}{% endblock %}
#}
{% block content %}

<link href="{{ SITEURL }}/dox.css" rel="stylesheet" stype="text/css" />

<script type="text/javascript">

(function() {

    function IndexCtrl($scope) {
    };

    var a = angular.module("indexApp", [], function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            }
        );
    var c = a.controller("IndexCtrl", ["$scope", IndexCtrl]);

})();

</script>

<div ng-app="indexApp">
<div ng-controller="IndexCtrl">


<div class="container">

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo"><b>Charles Reid</b></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-centered" style="text-align: center;">
            <div class="cosmojumbo">
                <p>&nbsp;</p>
                <p class="lead cosmojumboText">This is the webpage of Dr. Charles Reid.</p>
                <p class="lead cosmojumboText">I am a mathematics professor at South Seattle College. My background is in chemical engineering, high performance computing, computational physics, and chemistry. I hold a doctorate in chemical engineering.</p>
                <p class="lead cosmojumboText">I have several years of teaching experience, and have worked at two national labs and a chemical technology startup company.</p>
                <p>&nbsp;</p>
                <p class="lead cosmojumboText">Areas of expertise include:</p>
                <p class="lead cosmojumboText">Unix/Linux, Networking, Security, High Performance Computing</p>
                <p class="lead cosmojumboText">Python and Javascript APIs and webapps</p>
                <p class="lead cosmojumboText">Internet of Things, Raspberry Pi, Arduino, Microcontrollers.</p>
                <p class="lead cosmojumboText">Electronics, Radio, Industrial Control Systems, Chemical Kinetics.</p>
                <p class="lead cosmojumboText">Geographic Information Systems, GIS with Python, Maps with Javascript, Map Visualizations.</p>
                <p class="lead cosmojumboText">Data Acquisition, Data Analysis, Data Engineering for Scientific Applications.</p>
                <p class="lead cosmojumboText">Open Science, Better Technical Communication, Breaking Down Concepts Into Simple Enough Terms That Five Year Olds Can Understand Me.</p>
                <p>&nbsp;</p>
                <p class="lead cosmojumboText"><a href="{{SITEURL}}/contact/">(Contact Charles)</a></p>

            </div>
        </div>
    </div>

    <div class="v300"></div>

</div><!--container-->
</div><!--ng-app-->
</div><!--ng-controller-->

{% endblock %}

