{% extends 'base.html' %}
{#
{% set mytitle="index" %}
{% block title %}{{ mytitle }}{% endblock %}
#}
{% block content %}

<link href="{{ SITEURL }}/dox.css" rel="stylesheet" stype="text/css" />

<script type="text/javascript">
(function() {
    function ContactCtrl($scope) {};
    var a = angular.module("indexApp", [], function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            }
        );
    var c = a.controller("ContactCtrl", ["$scope", ContactCtrl]);
})();

</script>

<div ng-app="indexApp">
<div ng-controller="ContactCtrl">


<div class="container">

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo"><b>PGP Key</b></h1>
            </div>
        </div>
    </div>


    <div class="v150"></div>


    <div class="row" id="contact">

        <div class="col-sm-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">PGP Key for Charles Reid</h3>
                </div>
                <div class="panel-body">

                    <p>You can find <a href="#">my PGP key on the MIT PGP Key Server.</a></p>
                    <p>There are two PGP keys on that server - use the most recent one, with charlesreid1.com in the email.</p>

                </div>
            </div>


        </div>


    </div>



    <div class="v300"></div>


</div><!--container-->
</div><!--ng-app-->
</div><!--ng-controller-->

{% endblock %}



