{% extends 'base.html' %}
{% block title %}Blog - {{ SITENAME }}{% endblock %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12 col-centered" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo"><b>charlesreid1: article</b></h1>
                <p>
                    <a href="#a_start" class="btn btn-primary index-btn">Start Reading&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-down"></i></a>
                    <a href="#a_archive" class="btn btn-primary index-btn">Visit the Archives&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                </p>
            </div>
        </div>
    </div>

    <a name="a_start"></a>
    <div class="v150"></div>

    {% include '_includes/short_article.html' %}


    <archives>
        {% include '_includes/blog_archive_minipage.html' %}
    </archives>
                        


</div>

{% endblock %}

