{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="v100"></div>
    
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <a name="a_archive"></a>
            <h1 class="jumbo"><b>
            The Archives
            </b></h1>
    
        </div>
    </div>

    <div class="v100"></div>
    
    {% for year, date_year in dates|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
        {% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
    
            <div class="row">
                <div class="col-md-12">

                    <h2>{{ month|month_name }} {{year}}</h2>
            
                    {% for article in articles %}
                    <p class="archive">
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    </p>
                    {% endfor %}
            
                </div>
            </div>

            <div class="v50"></div>

        {% endfor %}
    {% endfor %}
    
    <div class="v300"></div>

</div>

{% endblock %}

