{% extends "base.html" %}
{% block content %}


<div class="v150"></div>
<a name="a_archive"></a>
<div class="v150"></div>
<hr/ >

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h1 class="jumbo"><b>
        The Archives
        </b></h1>

    </div>
</div>

{% for year, date_year in dates|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
    {% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}

        <div class="v50"></div>

        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h2>{{ month|month_name }} {{year}}</h2>

                {% for article in articles %}
                <p class="archive">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </p>
                {% endfor %}

            </div>
        </div>

    {% endfor %}
{% endfor %}

<div class="v300"></div>

{#
<!--
<div>
	<article role="article">
    	<header>
    		<h1 class="entry-title">Blog Archive</h1>
    	</header>

    	<div id="blog-archives">
        {% for year, date_year in dates|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
            <h2>{{ year }}</h2>
            {% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
                {% for article in articles %}
                    <article>
                        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                        <time datetime="{{ article.date }}" pubdate>
                            <span class="month">{{ article.date.strftime('%B')[:3] }}</span>
                            <span class="day">{{ article.date.strftime('%d') }}</span>
                            <span class="year">{{ article.date.strftime('%Y') }}</span>
                        </time>
                        <footer>
                            <span class="categories">posted in
                                <a class='category' href='{{ SITEURL }}/{{ article.category.url }}'>{{ article.category }}</a>
                                {{ tag }}
                            </span>
			    {% include '_includes/article_stats.html' %}
                        </footer>
                    </article>
                {% endfor %}
            {% endfor %}
        {% endfor %}
	    </div>
    </article>
</div>
-->
#}

{% endblock %}

