{% extends 'base.html' %}
{% block title %}Blog - {{ SITENAME }}{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-8" >
            <div class="well">

                <h1 class="entry-title">{{ BLOGTITLE }}</h1>
                    
                <p>&nbsp;</p>
                <hr />
                <p>&nbsp;</p>

                {% if articles %}
                	{% for article in articles %}
                		<article>
                  		{% include '_includes/article.html' %}
                		</article>
            </div>
            <div class="well">

                	{% endfor %}
                {% endif %}

                <p>End of Article List</p>

            </div>
        </div>


		<!--
        <div class="col-md-4" >
            {% include '_includes/blog_archive_minipage.html' %}
        </div>
		-->
                        

    </div>


{% endblock %}
