{% extends "base.html" %}
{#{% block title %}Knowledge Bank Category: {{ category }}{% endblock %}#}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12 col-centered" style="text-align: center;">
            <div class="cosmojumbo">
                <h1>Category: {{ category }}</h1>
            </div>
        </div>
    </div>

    <div class="v150"></div>

    <div>

        {% for article in articles_page.object_list %}
            {% include '_includes/short_article.html' %}
        {% endfor %}

    </div>

</div>

{% endblock %}

