{% extends 'base.html' %}
{% block content %}
{% set index=True %}


<div class="blog-index">
<div class="container">

    <div class="v50"></div>

    <div class="row">
        <div class="col-md-12 col-centered" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo">charlesreid1.com blog<h1>
            </div>
        </div>
    </div>


    <div class="v50"></div>


    <div>

        {% if articles %}
  	        {% for article in articles_page.object_list %}
  	        	<article>
            		{% include '_includes/article.html' %}
  	        	</article>
  	        {% endfor %}

            {% include '_includes/pagination.html' %}

        {% endif %}

    </div>


</div>
</div>

{% endblock %}
