{% extends 'base.html' %}
{% block content %}
{% set index=True %}

<div class="container">

    <div class="row">
        <div class="col-md-12 col-centered" style="text-align: center;">
            <div class="v50"></div>
            <div class="cosmojumbo">
                <h1 class="jumbojumbo">charlesreid1.com research &amp; teaching<h1>
            </div>
        </div>
    </div>


    <div class="v50"></div>


    <div class="row">

        <div class="col-md-8" style="text-align: center;">

            {% if articles %}
  	            {% for article in articles_page.object_list %}
  	            	<article>
                		{% include '_includes/article.html' %}
  	            	</article>
  	            {% endfor %}

                {% include '_includes/pagination.html' %}

            {% endif %}

        </div>

        <div class="col-md-4" style="text-align: center;">
            {% include '_includes/blog_archive_minipage.html' %}
        </div>

    </div>



</div>



{#
<div class="blog-index">
<div class="container">
#}

{#


    <div class="v50"></div>


    <div class="row">
        <div class="col-md-6 col-centered" style="text-align: center;">

            {% if articles %}
  	            {% for article in articles_page.object_list %}
  	            	<article>
                		{% include '_includes/article.html' %}
  	            	</article>
  	            {% endfor %}

                {% include '_includes/pagination.html' %}

            {% endif %}

        </div>

        <div class="col-md-2" style="text-align: center;">
            {% include '_includes/blog_archive_minipage.html' %}
        </div>

    </div>
#}


{#
</div>
</div>
#}

{% endblock %}
