{% extends "base.html" %}
{% block title %}Knowledge Bank Tag: {{ tag }}{% endblock %}
{% block content %}

<div class="container">

    <div class="v50"></div>

    <div class="row">
        <div class="col-md-12 col-centered" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo">Tag: {{ tag }}</h1>
            </div>
        </div>
    </div>

    <div class="v50"></div>

    <div>

        {% if articles %}
            {% for article in articles_page.object_list %}
                {% include '_includes/short_article.html' %}
            {% endfor %}
        {% endif %}

    </div>

</div>

{% endblock %}


