{% extends 'base.html' %}
{#
{% set mytitle="index" %}
{% block title %}{{ mytitle }}{% endblock %}
#}
{% block content %}

<link href="{{ SITEURL }}/dox.css" rel="stylesheet" stype="text/css" />

<script type="text/javascript">
(function() {
    function ContactCtrl($scope) {};
    var a = angular.module("indexApp", [], function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            }
        );
    var c = a.controller("ContactCtrl", ["$scope", ContactCtrl]);
})();

</script>

<div ng-app="indexApp">
<div ng-controller="ContactCtrl">


<div class="container">

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo"><b>About Charles Reid<b></h1>
            </div>
        </div>
    </div>

    <div class="v150"></div>

    <p><b>Biography</b></p>

    <p>The easiest way to get in touch is by email. For consulting inquiries, send an email to: charles |the-at-symbol| doxcompany.com</p>

    <div class="v150"></div>

    <div class="row" id="contact">

        <div class="col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Email</h3>
                </div>
                <div class="panel-body">
                    <p>Inquiries about consulting:
                    </p>
                    <p>charles |at-sign| doxcompany.com
                    </p>

                    <p>Inquiries about charlesreid1.com:
                    </p>
                    <p>charles |at-sign| charlesreid1.com
                    </p>

                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Twitter</h3>
                </div>
                <div class="panel-body">
                    Tweet at us: <a href="http://twitter.com/doxconsulting">@doxconsulting</a>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Phone</h3>
                </div>
                <div class="panel-body">
                    +1 (888) 998-2832
                </div>
            </div>
            
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Address</h3>
                </div>
                <div class="panel-body">
                    Dox Consulting, LLC <br>
                    3518 Fremont Avenue North #521<br>
                    Seattle, WA 98103
                </div>
            </div>


        </div>


        <div class="col-sm-8" style="text-align: center;">


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">

                    <p class="lead contentText">Dox Consulting LLC is a Seattle-based company, located in the Center of the Universe (Fremont), and serving customers in all locations.<br>
                    </p>

                    <img class="img img-circle" src="/img/seattle.png" style="width: 250px; height: 250px;">

                    <p>
                    </p>

                </div>

            </div>

        </div>


    </div>



    <div class="v300"></div>


</div><!--container-->
</div><!--ng-app-->
</div><!--ng-controller-->

{% endblock %}


