{% extends 'base.html' %}
{% set mytitle="Projects" %}



{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}



{# ----------- content ------------- #}
{% block content %}

<link href="{{ SITEURL }}/projects/projects.css" rel="stylesheet" stype="text/css" />

<div ng-app="projectsApp">
    <div ng-controller="projectsController" ng-init="initialize()">
        <div class="container" style="text-align: center;">
            {% include 'projects_content.html' %}
        </div>
    </div>
</div>

<div class="v300"></div>

<script type="text/javascript" src="{{ SITEURL }}/projects/projects_modcontrol.js"></script>

{% endblock %}

