<script type="text/javascript">
function dt() {
    var currentdate = new Date(); 
    var datetime = "Last Sync: " + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/" 
                    + currentdate.getFullYear() + " @ "  
                    + currentdate.getHours() + ":"  
                    + currentdate.getMinutes() + ":" 
                    + currentdate.getSeconds();
    return datetime;
}

//var mdt = dt();
//var p = $("<p />", {
//    "class":"lead cosmojumboText"
//}).text("["+mdt+"]");// An assortment of projects of Charles Reid.");
//$("h1").append(p);
</script>

<script type="text/javascript">
console.log(dt());
</script>

<h1 class="jumbojumbo"><b>charlesreid1: Projects</b></h1>

<p id="loglead" class="lead cosmojumboText"></p>

<div ng-repeat="project in projectData">

    <div class="v150"></div>

    <table align="center" width="100%">
        <tr>
            <td id="left">
                <!--
                <img class"image" src="http://placehold.it/300x300" />
                -->
                <img class"image" width="300px" src="{{SITEURL}}/img/[[project.img]]" />
            </td>
            <td id="right">
                <h3>[[project.name]]</h3>
                <p class="lead">[[project.description]]</p>
                <span ng-if="project.live_url">
                    <p><a class="btn btn-jumbo btn-info"    ng-href="[[project.live_url]]">[[project.name]] Live Site</a></p>
                </span>
                <span ng-if="project.repo_url">
                    <p><a class="btn btn-jumbo btn-success" ng-href="[[project.repo_url]]">[[project.name]] Github Repo</a></p>
                </span>
                <p>Technologies: <b>[[project.technologies]]</b></p>
            </td>
        </tr>
    </table>

</div><!-- ng-repeat -->

