
<hr/ >

<header>
<div class="row">
    <div class="col-md-12">

        <!-- only the header is centered. -->
        <div class="headtext" style="text-align: center;">
            <h1><b>
                {{ article.title|striptags }}
            </b></h1>
        
            <p class="lead">
                Posted 
                <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
                in 
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                </p>
            <p>
            <span style="font-size: 14px">
                <a href="{{ SITEURL }}/{{ article.url }}">permalink</a>
            </span>
            </p>
        </div>

    </div>
</div>
</header>

<div class="v20"></div>

<div class="row">
    <div class="col-md-8 col-centered" style="text-align: left;">

        <div class="entry-content">{{ article.summary }}</div>
        {% if article.summary != article.content %}
        <br />
        <br />
        <footer>
            <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Read On &crarr;</a>
        </footer>
        {% endif %}

    </div>
</div>



<div class="v20"></div>



<div class="row">
    <div class="col-md-8 col-centered" style="text-align: left;">

        <div class="tags">
            <p>Tags:&nbsp;&nbsp;&nbsp;
            {% if article.tags %}
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    &nbsp;&nbsp;
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>



<div class="v200"></div>


