/*
 * Custom CSS styles go here.
 */

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

hr {
    text-align: center;
    width: 100px;
}
footer {
    margin-bottom: 50px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  /*margin-top: 48px;*/
  margin-bottom: 10.5px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 10.5px;
}
